# Ignore the virtual environment folder
bkenv/
data/

# Ignore Jupyter checkpoint files
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore dataset files (optional: if you don't want to upload CSVs)
data/*.csv

# VS Code settings (optional)
.vscode/

# Ignore log or temp files (if any)
*.log
*.tmp
